* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.calc {
    width: 400px;
    background-color: black;
    color: white;
    margin: 0 auto;
}

.screen {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 20px 5px;
}

.calc-button {
    background-color: #d8d9db;
    color: black;
    height: 100px;
    width: 25%;
    border: none;
    border-radius: 0;
    font-size: 40px;
    cursor: pointer;
    margin: 1%;
}

.calc-button:hover {
    background-color: #ebebeb;
}

.calc-button:active {
    background-color: #bbbcbe;
}

.calc-button:last-child {
    background-color: #df974c;
    color: white;
}

.calc-button:last-child:hover {
    background-color: #dfb07e;
}

.calc-button:last-child:active {
    background-color: #dd8d37;
}


.double {
    width: 52.56%;
}

.triple {
    width: 80.14%;
}

.single {
    width: 25%;
}

.calc-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    padding: 0 5px;
}

.calc-row:last-child {
    padding-bottom: 5px;
}